<div class="container text-center">
	<div class="menu1">
		<button type="button" class="btn btn-default">Mon appartement</button></br>
		<div class="questionnaire1 text-center">
			<form action=''>
				<input type="texte" value="nom"> </br>
				<input type="text" value="prénom"> </br>
				<input type="texte" value="Téléphone"> </br>
				<select id="voie" class="form-control">
					<option>Voie</option>
					<option>Francis Garnier</option>
					<option>Pérouse</option>
					<option>Bougainville</option>
					<option>Jacques Cartier</option>
					<option>Champlain</option>
				</select>
				<div class="text-center">
					<textarea class="form-control" rows="4"></textarea>
					<input type="submit" value="Envoyer">
				</div>
			</form>
			<%= render "layouts/webcam" %>
		</div>
	</div>

	<div class="menu2">
		<button type="button" class="btn btn-default">Espaces intérieurs</button>
	</div>

	<div class="row">
		<div class="questionnaire2 text-center">
			<button type="button" class="btn btn-default hall1"> Hall d'entrée </button> <button type="button" class="btn btn-default hall2"> Hall à l'étage</button>
		</div>
		<div id="hall1-bis">
			<form action=''>
				<input type="texte" value="nom"> </br>
				<input type="text" value="prénom"> </br>
				<input type="texte" value="Téléphone"> </br>
				<select id="voie1" class="form-control">
					<option>voie</option>
					<option>Francis Garnier</option>
					<option>Pérouse</option>
					<option>Bougainville</option>
					<option>Jacques Cartier</option>
					<option>Champlain</option>					
				</select>
				<div class="text-center">
					<textarea class="form-control" rows="3"></textarea>
					<input type="submit" value="Envoyer">
				</div>
			</form>
			<%= render "layouts/webcam" %>
		</div>
	</div>
</div>

<div id="hall2-bis">
	<form action=''>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<select id="voie2" class="form-control">
			<option>voie</option>
			<option>Francis Garnier</option>
			<option>Pérouse</option>
			<option>Bougainville</option>
			<option>Jacques Cartier</option>
			<option>Champlain</option>					
		</select>
		<textarea class="form-control" rows="3"></textarea>
		<input type="submit" value="Envoyer">
	</form>
	<%= render "layouts/webcam" %>
</div>	
</div>

<div class="menu3">
	<button type="button" class="btn btn-default">Espaces extérieurs</button>
</div>

<div class="questionnaire3">
	<button type="button" class="btn btn-default passage"> Sur une voie de passage </button> <button type="button" class="btn btn-default collectif"> Un équipement collectif </button>
</div>

<div id="collectif">
	<button type="button" class="btn btn-default poubelle"> Local à poubelles </button> <button type="button" class="btn btn-default foot"> Terrain de foot </button> 
	<button type="button" class="btn btn-default enfant"> Espace enfant </button>
</div>

<div id="poubelle">
	<form class="text-center" action=''>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<select id="voie3" class="form-control">
			<option>voie</option>
			<option>Francis Garnier</option>
			<option>Pérouse</option>
			<option>Bougainville</option>
			<option>Jacques Cartier</option>
			<option>Champlain</option>					
		</select>
		<textarea class="form-control" rows="3"></textarea>
		<input type="submit" value="Envoyer">
	</form>
	<%= render "layouts/webcam" %>
</div>

<div id="foot">
	<form action=''>
		<textarea class="form-control" rows="3"></textarea>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<input type="submit" value="Envoyer">
	</form>
	<%= render "layouts/webcam" %>
</div>

<div id="enfant">
	<form action=''>
		<textarea class="form-control" rows="3"></textarea>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<input type="submit" value="Envoyer">
	</form>
	<%= render "layouts/webcam" %>
</div>

<div class="passage_bis">
	<form action=''>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<select id="voie4" class="form-control">
			<option>voie</option>
			<option>Francis Garnier</option>
			<option>Pérouse</option>
			<option>Bougainville</option>
			<option>Jacques Cartier</option>
			<option>Champlain</option>					
		</select>
		<textarea class="form-control" rows="3"></textarea>
		<input type="submit" value="Envoyer">
	</form>
	<%= render "layouts/webcam" %>
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  var form = $('#form'); // contact form
  var submit = $('#submit');  // submit button
  var alert = $('.alert'); // alert div for show alert message

  // form submit event
  form.on('submit', function(e) {
    e.preventDefault(); // prevent default form submit

    $.ajax({
      url: '', // form action url
      type: 'POST', // form submit method get/post
      dataType: 'html', // request type html/json/xml
      data: form.serialize(), // serialize form data 
      beforeSend: function() {
      	alert.fadeOut();
        submit.html('Sending....'); // change submit button text
    },
    success: function(data) {
        alert.html(data).fadeIn(); // fade in response data
        form.trigger('reset'); // reset form
        submit.html('Send Email'); // reset submit button text
    },
    error: function(e) {
    	console.log(e)
    }
});
});
});
</script>